
.whole-div-about{
    
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
    height:100vh;
   
}
.whole-div-about::-webkit-scrollbar{
    display: none;
}




.first-div{
background-image: url('https://cdn.modao.cc/Mockitt8.0/%E7%B4%A0%E5%B9%BFbanner%20%281%29.png');

color: aliceblue;
font-style: italic;
}
.first-div h1{
    animation:pop 2s ease-in-out ;
    
}
@keyframes pop{
from{
    transform: translate3d(0,10px,0) scale3d(1,1,1);
    opacity:0;
}
to{
    transform: translate3d(0,0,0) scale3d(1, 1, 1);
    opacity:1;
}
}
