*{
    margin: 0;
    padding: 0;
}

.loginpage{
   
    display: flex;
    
}
.login-border{

background-color: whitesmoke;
opacity: 0.8;
border-radius: 10%;
padding-bottom: 1rem;
box-shadow: 0 4px 11px 0 rgba(146, 96, 0, 0.35);
position:relative;
margin-left:32%;
margin-right:29%;
}
.login-division{
   padding-top: 8%;
   
   background-image: url('../../images/backgrounddesign.jpg');
   background-position: 65% 50%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   width:100%;
   display: flex;
   flex-direction: column;
}
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:30px;
    align-items: center;
    padding-top:1%;
    padding-bottom: 1%;
    width: 30rem;
}
.login-content input[type="text"], .login-content input[type="password"]{
    
    border: none;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    height: 2rem;
    width:100%;
   letter-spacing: 2px;
   box-shadow: 0 4px 11px 0 rgba(146, 96, 0, 0.35);
    text-align: center;
    outline: none;

}
input[type="submit"], .btn{
    border: none;
    font-family: Montserrat, sans-serif;
    border-radius:16px;
    width:100%;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border:2px solid black;
    
}
input[type="submit"]:hover,.btn:hover{
    background-color: black;
    color: white;
    opacity: 1;
}
.bottom{
    display: flex;
    justify-content: center;
    gap:10rem;
}



