.header{
    display: flex;
    justify-content: center;
    gap:70%;
}
.header-content{
    display: flex;
    justify-content:flex-end;
    gap:20%;
    padding-top:2.5%;
   
}
.link{
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    border-radius:1rem;
    color: black;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:700;
}
.link:hover{
    color:white;
    background-color: black;
}
.active{
    background-color:#fabc47;
    color:black;
    border: none;
    /* height:2rem; */
    border-radius:1rem;
    text-decoration: none;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:700;
}