.header{
    display: flex;
    justify-content: center;
    gap:62rem;
    padding-left: 0.5rem;
}
.header-content{
    display: flex;
    justify-content:flex-end;
    gap:40px;
    padding-top: 2rem;
    
    padding-bottom: 1rem;
}
.link{
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    border-radius:1rem;
    color: black;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:700;
}
.link:hover{
    color:white;
    background-color: black;
}
.link:focus{
    background-color:#fabc47;
    color:black;
    border: none;
}